[project]
	description = A simple set of dice to demonstrate the differences between procedural and object oriented php.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthew Dahl (Roger-Dogood)
[access "refs/for/refs/*"]
	read = group user/Matthew Dahl (Roger-Dogood)
	push = group user/Matthew Dahl (Roger-Dogood)
	label-Code-Review = -2..+2 group user/Matthew Dahl (Roger-Dogood)
	label-Verified = -1..+1 group user/Matthew Dahl (Roger-Dogood)
	rebase = group user/Matthew Dahl (Roger-Dogood)
	removeReviewer = group user/Matthew Dahl (Roger-Dogood)
	submit = group user/Matthew Dahl (Roger-Dogood)
[access "refs/heads/*"]
	read = group user/Matthew Dahl (Roger-Dogood)
	create = group user/Matthew Dahl (Roger-Dogood)
	push = +force group user/Matthew Dahl (Roger-Dogood)
	pushMerge = group user/Matthew Dahl (Roger-Dogood)
[access "refs/tags/*"]
	push = +force group user/Matthew Dahl (Roger-Dogood)
	pushTag = group user/Matthew Dahl (Roger-Dogood)
	pushSignedTag = group user/Matthew Dahl (Roger-Dogood)
