body {
    font-style: sans-serif;
}

.wrapper {
    width: 90%;
    margin: auto;
    font-size: 2em;
}

.dice {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.2em;
}

.dice span {
  margin: 10px auto 0;
  border: 1px solid #777;
  padding: 0.8em;
  background: #EEE;
}

.roll-dice button {
    display: block;
    margin: auto;
    font-size: 2em;
}
